.item-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #dedede;
  cursor: pointer;
}

.temp {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.temp-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}