.card-item {
  border-bottom: 1px solid #dedede;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow-svg {
  width: 20px;
  transition: 0.5s;
}

.arrow-svg-active {
  transform: rotate(180deg);
  transition: 0.5s;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70px;
  }
}