.tabs  {
  display: flex;
  // background-color: rgb(204 214 255 / 20%);
  background-color: #3779ca69;
  padding: 0px 10px;
  color: white;
}

.tab {
  margin: 0 30px;
  padding: 10px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid white; 
}