.wrapper-block {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  border-radius: 10px;
  width: 100%;
  background-color: #05a8da91;
  margin: 30px auto;
}

.day {
  padding: 20px 16px 0;
  font-weight: 700;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70px;
  }
}
