.today-details-dard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
  margin-bottom: 25px;
}

.feels-like-block {
  display: flex;
  flex-direction: column;
}

.temp-feels {
  font-size: 56px;
  font-weight: 700;
}

.sunset-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 20px 20px 0 20px;
}

.sunset {
  display: flex;
  margin-top: 6px;
}
 
.left-time {
  margin-right: 10px;
}

.arrow {
  margin-bottom: -8px;
  width: 24px;
  margin-top: 2px;
}