.wrapper-block {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  margin: 30px auto;
  padding: 10px
}

.title {
  padding: 15px 20px 0;
  font-size: 22px;
  font-weight: 700;
}

.this-time {
  padding: 10px 20px 0px;
  color: #7a7a7a;
}